!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
  %body
    %div{:class => "container row"}
      %div{:class => "col-sm-12"}
        %h1{:class => "display-4"} Smartflix
        %p{:class => "lead"} Find out more about your favourite movies.
    %div{:class => "container row"}
      - @films.each do |film|
        %div{:class => "col-sm-3 d-flex align-items-stretch mb-4"}
          %div{:class => "card"}
            %img{:class => "card-img-top", :alt => "placeholder", :src => "https://via.placeholder.com/150"}
              %div{:class => "card-body"}
                %h5{:class => "card-title"}= "#{film['title']} (#{film['release_year']})"
                %p{:class => "card-text"}= film['description']