!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
  %body{:class => "container"}
    %h1{:class => "display-4"} Smartflix
    %p{:class => "lead"} Find out more about your favourite movies.
    %div{:class => "container row"}
      - @films.each do |film|
        %div{:class => "col-sm-3 d-flex align-items-stretch"}
          %div{:class => "card"}
            %img{:src => "", :class => "card-img-top", :style => "width: 18rem;"}
              %div{:class => "card-body"}
                %h5{:class => "card-title"}= "#{film['title']} (#{film['release_year']})"
                %h5{:class => "card-text"}= film['description']